.lead__image {
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 64px;
}

@media screen and (max-width: 1024px) {   
    .lead__image {
        margin-top: 56px;
    }
}

@media screen and (max-width: 320px) {  
    .lead__image {
        margin-top: 40px;
        font-size: 16px;
        line-height: 20px;
    }
}