.footer {
    display: grid;
    grid-template-columns: repeat(5, min-content) auto;
    grid-template-rows: auto;
    width: calc(100% - (48px*2));
    margin-bottom: 24px;
}

.footer :nth-last-child(1) {
    margin-right: 0;
}

@media screen and (max-width: 768px) {   
    .footer {
        width: calc(100% - (24px*2));
    }
}

@media screen and (max-width: 767px) {   
    .footer {
        grid-template-columns: auto;
        grid-template-rows:  repeat(5, min-content) auto;
        
    }
}